/* HERO SECTION */
@import "tailwindcss";
@import "../../app/globals.css";

.hero {
  @apply relative text-[var(--heading-color)] w-full h-screen flex flex-col justify-center items-center px-16 text-center overflow-hidden bg-cover bg-center bg-no-repeat bg-fixed brightness-80 z-[1] transition-all duration-300 ease-in-out bg-[url(/assets/backgrounds/hero-background.svg)];
}
.hero-inner {
  @apply w-screen md:max-w-[120rem];
}

.hero-heading {
  @apply mx-auto w-11/12 md:w-full text-[3.8rem] md:text-[15rem] text-[var(--heading-color)] uppercase tracking-[0.2rem] font-bold mb-12 relative leading-[1.1];
}

.hero-subheading {
  @apply text-[2.4rem] text-[var(--body-color)] mb-[4.8rem] w-11/12 md:max-w-[780rem] mx-auto leading-[150%];
}

.hero-cta {
  @apply text-[2rem] py-[1.6rem] px-[3.2rem] bg-[var(--primary-color)] text-[var(--background-color)] rounded-lg font-semibold transition-all duration-300 ease-in-out inline-block;
}

.hero-cta:hover {
  @apply bg-[var(--primary-hover-color)] text-white scale-105 shadow-lg transition-all duration-300 ease-in-out;
}

/* HERO RESPONSIVE */

.hero-heading {
  @apply text-[3.8rem] xs:text-[5.8rem] sm:text-[7rem] md:text-[9rem] lg:text-[15rem];
}

.hero-subheading {
  @apply text-[2.4rem] md:text-[2rem] sm:text-[1.8rem]
}

.hero-cta {
  @apply font-[Roboto] text-[2rem] py-[1.6rem] px-[3.2rem] md:text-[1.8rem] md:py-[1.4rem] md:px-[2.8rem] sm:text-[1.6rem] sm:py-[1.2rem] sm:px-[2.4rem];
}

.hero {
  @apply px-16 sm:px-8;
}